<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 mx-auto">
                <div class="aboutus">
                    <h1 class="aboutus-title bg-white me-5">Nosotros</h1>
                    <p class="aboutus-text">"En Maske Tortas, nos apasiona ofrecer experiencias culinarias excepcionales
                        a nuestros clientes. Nuestro compromiso con la calidad, la frescura y el sabor auténtico nos
                        distingue. Desde nuestros inicios, nos hemos esforzado por crear un ambiente acogedor donde la
                        comida de calidad se combina con un servicio excepcional.
                        ¡Esperamos tener el placer de recibirte pronto en nuestro restaurante y compartir contigo
                        nuestra pasión por la buena comida y el buen servicio!"</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img class="img-fluid " src="/img/logo.png" alt="" width="200" height="200">
                </div>
            </div>

        </div>
    </div>
</div>