<section>

    <h2 class="text-center">Categorias</h2>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="card l-bg-yellow">
                    <div class="p-4 d-flex justify-content-between">
                        <div class="p-2 " style="transform: rotate(-10deg);">

                            <picture>
                                <source srcset="img/hero_img.avif" type="image/avif"/>
                                <source srcset="img/hero_img.webp" type="image/webp"/>
                                <img class="img-fluid mx-auto" loading="lazy" src="/img/hero_img.png" alt=""
                                     width="200" height="200">
                            </picture>


                        </div>
                        <div class="container-categorie-title">
                            <h3 class="card-title">Tortas</h3>

                            <a href="/proyecto_final-pw2/html/menu.html#tortas">
                                <button type="button" class="btn-categorias btn bg-white btn-info">
                                    &nbsp;Ver <span class="bi bi-arrow-right-circle-fill ms-2"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6">
                <div class="card l-bg-green">
                    <div class="p-4 d-flex justify-content-between">
                        <div class="p-2">

                            <picture>
                                <source srcset="img/img-category3.avif" type="image/avif"/>
                                <source srcset="img/img-category3.webp" type="image/webp"/>
                                <img class="img-fluid mx-auto" loading="lazy" src="/img/img-category3.png" alt=""
                                     width="175" height="175">
                            </picture>                            

                        </div>
                        <div class="container-categorie-title">
                            <h3 class="card-title">Combos</h3>

                            <a href="/proyecto_final-pw2/html/menu.html#combos">
                                <button type="button" class="btn-categorias btn bg-white btn-info">
                                    &nbsp;Ver <span class="bi bi-arrow-right-circle-fill ms-2"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6">
                <div class="card l-bg-red">
                    <div class="p-4 d-flex justify-content-between">
                        <div class="p-2">
                            <picture>
                                <source srcset="img/img-category2.avif" type="image/avif"/>
                                <source srcset="img/img-category2.webp" type="image/webp"/>
                                <img class="img-fluid mx-auto" loading="lazy" src="/img/img-category2.png" alt=""
                                     width="110" height="130">
                            </picture>

                        </div>
                        <div class="container-categorie-title">
                            <h3 class="card-title" style="font-size: 26px">Hamburguesas</h3>

                            <a href="/proyecto_final-pw2/html/menu.html#hamburguesas">
                                <button type="button" class="btn-categorias btn bg-white btn-info">
                                    &nbsp;Ver <span class="bi bi-arrow-right-circle-fill ms-2"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>