<section class="shapedividers_com-6705 bg-white">
    <div class="container row container-categories mx-auto">
        <h1>Categorías</h1>
        <div class="col-lg-4 text-center">
            <img class="rounded-circle bg-warning object-fit-contain" src="/img/img-category.png"
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Tortas</h2>
            <p><a class="btn btn-secondary" href="#" role="button">Ver »</a></p>
        </div>

        <div class="col-lg-4 text-center">
            <img class="rounded-circle object-fit-contain bg-warning" src="/img/img-category2.png"
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Hamburguesas</h2>
            <p><a class="btn btn-secondary" href="#" role="button">Ver »</a></p>
        </div>

        <div class="col-lg-4 text-center">
            <img class="rounded-circle object-fit-contain bg-warning" src="/img/img-category3.png"
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Combos</h2>
            <p><a class="btn btn-secondary" href="#" role="button">Ver »</a></p>
        </div>
    </div>
</section>