<div class="accordion mb-5" id="accordionExample">
    <h1 class="bg-white mb-4">Preguntas frecuentes</h1>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                ¿Cuentan con servicio a docimilio?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Sí, podemos llevar tu pedido hasta la puerta de tu casa con un costo adicional.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                ¿Qué metodos de pago tienen disponible?
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Puedes realizar tu pago con tarjeta y transferencia bancaria.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ¿Cuentan con otras sucurales en el pais?
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Actualmente contamos solo con sucursal en Santa Rosa de Copan, proximamente
                contaremos con una sucursal en San Marcos, Ocotepeque.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                ¿Donde están ubicados y cual es el horario?
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Estamos ubicados en Bo. el carmen, Santa Rosa de Copán, en gasolinera puma san antonio, fte a hotel casa
                real, Santa Rosa de Copán, Honduras,
                y nuestro horario de atencion es de 10:00 am - 10:00 pm de Lunes a Domingo.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                ¿Cómo puedo hacer mi pedido o agendar una reservación?
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Para poder realizar tu pedido puedes contactarnos a traves de nuestro numero de Whatsapp o tambien puedes realizarlo
                por medio de nuestra pagina web. Para realizar una reservación puedes ponerte en contacto por medio del número 
                +504 9757-777, sera un gusto atenderte.
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
