<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Siguenos en Nuestras Redes Sociales</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="https://www.facebook.com/masketortass/" target="_blank" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            
            <a href="https://www.instagram.com/masketortas/" target="_blank" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>

            <a href="https://api.whatsapp.com/send?phone=5049775777&text=Hola%21%20Quisiera%20%20saber%20sobre%20tus%20servicios." target="_blank" class="me-4 text-reset">
                <i class="fab fa-whatsapp"></i>
            </a>

        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Maske Tortas
                    </h6>
                    <p>
                        Somos un restaurante de comida 100% artesanal, alitas, tortas, hamburguesas y mucho mas.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Menú
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Hamburguesas</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Tortas</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Combos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Alitas</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Enlaces Útiles
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Acerca de nosotros</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">FAQ</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Nuestros Servicios</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Menú</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Cantactanos</h6>
                    <p><i class="fas fa-home me-3"></i>Bo. El Carmen, Santa Rosa de Copán, en gasolinera puma san antonio, fte a hotel casa real 41101 Santa Rosa de Copán, Honduras</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        masketortas@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +504 9777-5777</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->