<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <h1>Galeria de Fotos
        <span class="tit-galeria1">Mas</span>
         <span class="tit-galeria2">ke</span>
         <span class="tit-galeria3">Tortas</span>
        </h1>
    </div>
<div class="row">
    <span class="line"></span>
    <section class="galeria">
        <a  href="#image1">
            <img src="/img2/masketortaimg_3.jpg" alt="">
        </a>
        <a  href="#image2">
            <img src="/img2/masketortaimg_4.jpg" alt="">
        </a>
        <a href="#image3">
            <img src="/img2/masketortaimg_6.jpg" alt="">
        </a>
        <a  href="#image4">
            <img src="/img2/masketortaimg_7.jpg" alt="">
        </a>
        <a  href="#image5">
            <img src="/img2/masketortaimg_8.jpg" alt="">
        </a>
        <a  href="#image6">
            <img src="/img2/masketortaimg_9.jpg" alt="">
        </a>
        <a  href="#image7">
            <img src="/img2/masketortaimg_10.jpg" alt="">
        </a>
        <a  href="#image8">
            <img src="/img2/masketortaimg_11.jpg" alt="">
        </a>
        <a  href="#image9">
            <img src="/img2/masketortaimg_12.jpg" alt="">
        </a>
        <a  href="#image10">
            <img src="/img2/masketortaimg_13.jpg" alt="">
        </a>
        <a  href="#image11">
            <img src="/img2/masketortaimg_14.jpg" alt="">
        </a>
        <a  href="#image12">
            <img src="/img2/masketortaimg_15.jpg" alt="">
        </a>
        <a  href="#image13">
            <img src="/img2/masketortaimg_16.jpg" alt="">
        </a>
        <a  href="#image14">
            <img src="/img2/masketortaimg_17.jpg" alt="">
        </a>
        <a  href="#image15">
            <img src="/img2/masketortaimg_18.jpg" alt="">
        </a>
        <a  href="#image16">
            <img src="/img2/masketortaimg_19.jpg" alt="">
        </a>
        <a  href="#image17">
            <img src="/img2/masketortaimg_20.jpg" alt="">
        </a>
    </section>


<article class="caja-suave" id="image1">
    <a href="#image17" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_3.jpg">
    <a href="#image2" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image2">
    <a href="#image1" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_4.jpg">
    <a href="#image3" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image3">
    <a href="#image2" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_6.jpg">
    <a href="#image4" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image4">
    <a href="#image3" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_7.jpg">
    <a href="#image5" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image5">
    <a href="#image4" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_8.jpg">
    <a href="#image6" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image6">
    <a href="#image5" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_9.jpg">
    <a href="#image7" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image7">
    <a href="#image6" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_10.jpg">
    <a href="#image8" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image8">
    <a href="#image7" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_11.jpg">
    <a href="#image9" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image9">
    <a href="#image8" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_12.jpg">
    <a href="#image10" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image10">
    <a href="#image9" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_13.jpg">
    <a href="#image11" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image11">
    <a href="#image10" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_14.jpg">
    <a href="#image12" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image12">
    <a href="#image11" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_15.jpg">
    <a href="#image13" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image13">
    <a href="#image12" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_16.jpg">
    <a href="#image14" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image14">
    <a href="#image13" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_17.jpg">
    <a href="#image15" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image15">
    <a href="#image14" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_18.jpg">
    <a href="#image16" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image16">
    <a href="#image15" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_19.jpg">
    <a href="#image17" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

<article class="caja-suave" id="image17">
    <a href="#image16" class="next"><i class="fa-solid fa-arrow-left"></i></a>
    <img src="/img2/masketortaimg_20.jpg">
    <a href="#image1" class="next"><i class="fa-solid fa-arrow-right"></i></a>
    <a href="#" class="close">X</a>
</article>

</div>
    
</div>
    
   
    