<nav class="navbar navbar-expand-lg navbar-light bg-white pb-5">
    <div class="container ">
        <a class="navbar-brand" href="#">
            <img class="logo" src="/img/logo.png" alt="logo">
        </a>

        <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="bx bx-menu"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto ">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                <a class="nav-link" href="#menu">Menu</a>
                <a class="nav-link" href="#promociones">Promociones</a>
                <a class="nav-link" href="#acercaDeNosotros">Acerca de Nosotros</a>
                <a href="#ordenar" class="btn btn-primary shadow-none">Ordenar Ahora</a>
            </div>

            <div class="carrito">
                <a href="#ordenar"><img style="width: 65px; height: 55px;" src="/img/carrito_logo.png"
                                        alt="carrito"></a>
            </div>
        </div>

    </div>

</nav>