<!-- Hero Section -->
<section class="hero d-flex mb-5 bg-white" data-aos="fade-up" data-aos-duration="3000">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 ">
        <div class="text-hero-bold">
          Ya probaste nuestra torta
          <span>Adicta Clasica?</span>
        </div>
        <div class="text-hero-regular">
          Jugosa pechuga de pollo empanizado, salsas artesanales, cebolla,
          tomate y lechuga.
        </div>
            <a href="">
                <button type="button" class="btn btn-primary btn-ordenar-section2">Ordenar Ahora</button>
            </a>
      </div>


      <div class="img-hero col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="3000">

        <picture>
          <source srcset="img/hero_img.avif" type="image/avif" />
          <source srcset="img/hero_img.webp" type="image/webp" />
          <img class="w-100 img-fluid" loading="lazy" width="200" height="300" src="/img/hero_img.jpg" alt="hero img" />
        </picture>

      </div>
    </div>
  </div>

  <!--shape divider 
    <div class="custom-shape-divider-bottom-1702507708">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    -->
</section>