<!-- Hero Section -->
<section class="hero pb-5 d-flex shapedividers_com-6272 bg-white " data-aos="fade-up" data-aos-duration="3000">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-hero-bold">
                    Ya probaste nuestra torta <span>Adicta Clasica?</span>
                </div>
                <div class="text-hero-regular">
                    Jugosa pechuga de pollo empanizado, salsas artesanales, cebolla, tomate y lechuga.
                </div>
                <a href="">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Ordenar Ahora</button>
                </a>

            </div>
            <div class="img-hero img-fluid col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="3000">
                <img src="/img/hero_img.png" class="w-100" alt="hero-img">
            </div>
        </div>
    </div>
</section>

