<!-- Hero Section -->
<section class="hero mt-5 pb-5 d-flex" data-aos="fade-up" data-aos-duration="3000">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="text-hero-bold">
            Ya probaste nuestra torta <span>Adicta Clasica?</span>
          </div>
          <div class="text-hero-regular">
            Jugosa pechuga de pollo empanizado, salsas artesanales, cebolla, tomate y lechuga.
          </div>
        <div class="cta">
          <a href="#ordenar" class="btn btn-primary shadow-none">Ordenar Ahora</a>
        </div>
      </div>
      <div class="img-hero col-md-6 aos-init  aos-animate" data-aos="fade-up" data-aos-duration="3000">
        <img src="/img/hero_img-removebg.png" class="w-100" alt="hero-img">
      </div>
    </div>
  </div>
</section>