<!-- Dark varient -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="/img/img-carusel.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption ">
                <h1>Menú</h1>
            </div>
        </div>
    </div>

</div>


<section class="bg-white">

    <div class="container-menu">
        <h1 class="bg-white">Nuestro Menú</h1>

        <ul class="d-flex flex-row justify-content-center navbar-nav mt-5">
            <li class="nav-item">
                <a class="nav-link " href="#tortas">Tortas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#combos">Combos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#extras">Extras</a>
            </li>
        </ul>

        <!--tortas -->
        <div id="tortas">

            <div class="row container-categories px-5 gap-3 gap-sm-0">
                <div class="col-lg-4 col-md-4 col-xl-4 col-sm-12 mb-sm-3">

                    <div class="card menu-item text-center border-0 " style="height: 37rem">
                        <img class="card-img-top img-fluid mt-5 object-fit-cover " src="/menu-img/Adicta.png" alt="..."
                             width="300" height="300">

                        <div class="card-body mt-5">
                            <p class="precio">90.00 Lps</p>
                            <h2>Adicta Clasica</h2>
                            <img class="mx-auto" src="/menu-img/fondo.png" alt="" width="200">

                            <p class="card-text text-hero-regular">Jugosa pechuga de pollo empanizada, salsas
                                artesanales,
                                cebolla, tomate
                                y lechuga.</p>
                            <div class="d-flex flex-row justify-content-end">
                                <p><a class="btn btn-secondary" href="#" role="button">Ordenar</a></p>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-lg-4 col-md-4 col-xl-4 col-sm-12">

                    <div class="card menu-item text-center border-0 " style="height: 37rem">
                        <img class="card-img-top img-fluid mt-5 object-fit-cover " src="/menu-img/Mini.png" alt="..."
                             width="300" height="300">

                        <div class="card-body mt-5">
                            <p class="precio">50.00 Lps</p>
                            <h2>Mini Torta</h2>
                            <img class="mx-auto" src="/menu-img/fondo.png" alt="" width="200">

                            <p class="card-text text-hero-regular">Media torta adicta atrevida o resquisita. Tú
                                eliges cual deseas. </p>
                            <div class="d-flex flex-row justify-content-end">
                                <p><a class="btn btn-secondary" href="#" role="button">Ordenar</a></p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xl-4 col-sm-12">

                    <div class="card menu-item text-center border-0 " style="height: 37rem">
                        <img class="card-img-top img-fluid mt-5 object-fit-cover" src="/menu-img/Porky.png" alt="..."
                             height="300" width="300">

                        <div class="card-body mt-5">
                            <p class="precio">120.00 Lps</p>
                            <h2>Porky Loca</h2>
                            <img class="mx-auto" src="/menu-img/fondo.png" alt="" width="200 ">

                            <p class="card-text text-hero-regular">Lomito de cerdo a la plancha bañada
                                salsa barbacoa, chile dulce,
                                aguacate,lechuga, salsas.</p>
                            <div class="d-flex flex-row justify-content-end">
                                <p><a class="btn btn-secondary" href="#" role="button">Ordenar</a></p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xl-4 col-sm-12">

                    <div class="card menu-item text-center border-0 " style="height: 37rem">
                        <img class="card-img-top img-fluid mt-5 object-fit-cover" src="/menu-img/resquisitaPLUS.png"
                             alt="..."
                             height="300" width="300">

                        <div class="card-body mt-5">
                            <p class="precio">150.00 Lps</p>
                            <h2>Resquisita Plus</h2>
                            <img class="mx-auto" src="/menu-img/fondo.png" alt="" width="200 ">

                            <p class="card-text text-hero-regular">Lomito de cerdo a la plancha bañada
                                salsa barbacoa, chile dulce,
                                aguacate,lechuga, salsas.</p>
                            <div class="d-flex flex-row justify-content-end mt-sm-5">
                                <p><a class="btn btn-secondary" href="#" role="button">Ordenar</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- combos-->
        <div id="combos">

            <div class="row container-categories px-5 gap-3 gap-sm-0">
                <div class="col-lg-4 col-md-4 col-xl-4 col-sm-12 mb-sm-3">

                    <div class="card menu-item text-center border-0 " style="height: 37rem">
                        <img class="card-img-top img-fluid mt-5 object-fit-cover " src="/menu-img/Combo1.png" alt="..."
                             width="300" height="300">

                        <div class="card-body mt-5">
                            <p class="precio">100.00 Lps</p>
                            <h2>Combo 1</h2>
                            <img class="mx-auto" src="/menu-img/fondo.png" alt="" width="200">

                            <p class="card-text text-hero-regular">La mitad de una torta adicta o clasica acompañada
                                de papas y un refresco.</p>
                            <div class="d-flex flex-row justify-content-end">
                                <p><a class="btn btn-secondary" href="#" role="button">Ordenar</a></p>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-lg-4 col-md-4 col-xl-4 col-sm-12">

                    <div class="card menu-item text-center border-0 " style="height: 37rem">
                        <img class="card-img-top img-fluid mt-5 object-fit-cover " src="/menu-img/Combo 2.png" alt="..."
                             width="300" height="300">

                        <div class="card-body mt-5">
                            <p class="precio">140.00 Lps</p>
                            <h2>Combo 2</h2>
                            <img class="mx-auto" src="/menu-img/fondo.png" alt="" width="200">

                            <div class="pb-4">
                                <p class="card-text text-hero-regular">Una torta adicta o clasica acompañada
                                    de papas y un refresco.</p>
                            </div>

                            <div class="d-flex flex-row justify-content-end">
                                <p><a class="btn btn-secondary" href="#" role="button">Ordenar</a></p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xl-4 col-sm-12">

                    <div class="card menu-item text-center border-0 " style="height: 37rem">
                        <img class="card-img-top img-fluid mt-5 object-fit-cover" src="/menu-img/Combo 3.png"
                             alt="..."
                             height="300" width="300">

                        <div class="card-body mt-5">
                            <p class="precio">180.00 Lps</p>
                            <h2>Combo 3</h2>
                            <img class="mx-auto" src="/menu-img/fondo.png" alt="" width="200 ">

                            <div class="pb-2">
                                <p class="card-text text-hero-regular">Una torta adicta o clasica acompañada
                                    de papas, bonless y un refresco 2L.</p>
                            </div>


                            <div class="d-flex flex-row justify-content-end">
                                <p><a class="btn btn-secondary" href="#" role="button">Ordenar</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
