<!-- Dark varient -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
				        aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="10000">
						<img src="/img/img-carusel.jpg" class="d-block w-100" alt="...">
						<div class="carousel-caption ">
								<h1>Menú</h1>
						</div>
				</div>
		</div>

</div>


<section class="bg-white">

		<div class="container-menu">
				<h1 class="bg-white">Nuestro Menú</h1>

				<ul class="d-flex flex-row justify-content-center navbar-nav mt-5 mb-5">
						<li class="active nav-item">
								<a class="nav-link " href="#tortas">Tortas</a>
						</li>
						<li class="nav-item">
								<a class="nav-link" href="#combos">Combos</a>
						</li>
						<li class="nav-item">
								<a class="nav-link" href="#extras">Extras</a>
						</li>
				</ul>

				<!--tortas -->
				<div id="tortas" class="container-fluid">

						<div class="row container-categories px-5 gap-3 gap-sm-0 d-flex justify-content-center">
								<div class="col-lg-4 col-md-6 col-12 mb-sm-4">

										<div class="card menu-item text-center border-0 w-75 mx-auto" style="height: 32.5rem">

												<picture>
														<source srcset="/img/menu/Adicta.avif" type="image/avif"/>
														<source srcset="/img/menu/Adicta.webp" type="image/webp"/>
														<img class="card-img-top img-fluid mt-5 object-fit-cover mb-3" loading="lazy" width="200"
														     height="300" src="/img/menu/Adicta.png" alt="logo"/>
												</picture>

												<div class="card-body mt-5">
														<p class="precio">90.00 Lps</p>
														<h4>Adicta Clasica</h4>

														<picture>
																<source srcset="/img/menu/fondo.avif" type="image/avif"/>
																<source srcset="/img/menu/fondo.webp" type="image/webp"/>
																<img class="mx-auto mb-4" src="/img/menu/fondo.png" alt="" width="200">
														</picture>

														<p class="card-text mb-4">Jugosa pechuga de pollo empanizada, salsas
																artesanales, cebolla, tomate y lechuga.</p>
														<div class="d-flex flex-row justify-content-end">
																<p><a class="btn btn-secondary" href="#" role="button">Ordenar</a></p>
														</div>
												</div>

										</div>
								</div>

								<div class="col-lg-4 col-md-6 col-12 mb-sm-4">

										<div class="card menu-item text-center border-0 w-75 mx-auto" style="height: 32.5rem">

												<picture>
														<source srcset="/img/menu/iloveimg-resized/Mini.avif" type="image/avif"/>
														<source srcset="/img/menu/iloveimg-resized/Mini.webp" type="image/webp"/>
														<img class="card-img-top img-fluid mt-5 object-fit-cover mb-3" loading="lazy" width="200"
														     height="300" src="/img/menu/iloveimg-resized/Mini.png" alt="logo"/>
												</picture>

												<div class="card-body mt-5">
														<p class="precio">100.00 Lps</p>
														<h4>Mini Torta</h4>

														<picture>
																<source srcset="/img/menu/fondo.avif" type="image/avif"/>
																<source srcset="/img/menu/fondo.webp" type="image/webp"/>
																<img class="mx-auto mb-4" src="/img/menu/fondo.png" alt="" width="200">
														</picture>

														<p class="card-text mb-4">Jugosa carne de res, salsas
																artesanales, cebolla, tomate y lechuga.</p>
														<div class="d-flex flex-row justify-content-end">
																<p><a class="btn btn-secondary" href="#" role="button">Ordenar</a></p>
														</div>
												</div>

										</div>
								</div>

								<div class="col-lg-4 col-md-6 col-12 mb-sm-4">

										<div class="card menu-item text-center border-0 w-75 mx-auto" style="height: 32.5rem">

												<picture>
														<source srcset="/img/menu/iloveimg-resized/Porky.avif" type="image/avif"/>
														<source srcset="/img/menu/iloveimg-resized/Porky.webp" type="image/webp"/>
														<img class="card-img-top img-fluid mt-5 object-fit-cover mb-3" loading="lazy" width="200"
														     height="300" src="/img/menu/iloveimg-resized/Porky.png" alt="logo"/>
												</picture>

												<div class="card-body mt-5">
														<p class="precio">130.00 Lps</p>
														<h4>Porky</h4>

														<picture>
																<source srcset="/img/menu/fondo.avif" type="image/avif"/>
																<source srcset="/img/menu/fondo.webp" type="image/webp"/>
																<img class="mx-auto mb-4" src="/img/menu/fondo.png" alt="" width="200">
														</picture>

														<p class="card-text mb-4">Jugosa carne  de cerdo , salsas
																artesanales, cebolla, tomate y lechuga.</p>
														<div class="d-flex flex-row justify-content-end">
																<p><a class="btn btn-secondary" href="#" role="button">Ordenar</a></p>
														</div>
												</div>

										</div>
								</div>
						</div>
				</div>

				<!-- combos-->
				<div id="combos" class="container-fluid mb-5 mt-4">

						<div class="row container-categories px-5 gap-3 gap-sm-0 d-flex justify-content-center">
								<div class="col-lg-4 col-md-6 col-12 mb-sm-4">

										<div class="card menu-item text-center border-0 w-75 mx-auto" style="height: 33.3rem">

												<picture>
														<source srcset="/img/menu/iloveimg-resized/Combo1.avif" type="image/avif"/>
														<source srcset="/img/menu/iloveimg-resized/Combo1.webp" type="image/webp"/>
														<img class="card-img-top img-fluid mt-5 object-fit-cover mb-3" loading="lazy" width="200"
														     height="300" src="/img/menu/iloveimg-resized/Combo1.png" alt="logo"/>
												</picture>

												<div class="card-body mt-5">
														<p class="precio">120.00 Lps</p>
														<h4>Combo 1</h4>

														<picture>
																<source srcset="/img/menu/fondo.avif" type="image/avif"/>
																<source srcset="/img/menu/fondo.webp" type="image/webp"/>
																<img class="mx-auto mb-4" src="/img/menu/fondo.png" alt="" width="200">
														</picture>

														<p class="card-text mb-4">1 mini torta de eleccion, papitas y un refresco de 500ml.</p>
														<div class="d-flex flex-row justify-content-end">
																<p><a class="btn btn-secondary" href="#" role="button">Ordenar</a></p>
														</div>
												</div>

										</div>
								</div>

								<div class="col-lg-4 col-md-6 col-12 mb-sm-4">

										<div class="card menu-item text-center border-0 w-75 mx-auto" style="height: 33.3rem">

												<picture>
														<source srcset="/img/menu/iloveimg-resized/Combo 2.avif" type="image/avif"/>
														<source srcset="/img/menu/iloveimg-resized/Combo 2.webp" type="image/webp"/>
														<img class="card-img-top img-fluid mt-5 object-fit-cover mb-3" loading="lazy" width="200"
														     height="300" src="/img/menu/iloveimg-resized/Combo 2.png" alt="logo"/>
												</picture>

												<div class="card-body mt-5">
														<p class="precio">150.00 Lps</p>
														<h4>Combo 2</h4>

														<picture>
																<source srcset="/img/menu/fondo.avif" type="image/avif"/>
																<source srcset="/img/menu/fondo.webp" type="image/webp"/>
																<img class="mx-auto mb-4" src="/img/menu/fondo.png" alt="" width="200">
														</picture>

														<p class="card-text mb-4">1 torta de eleccion, papitas y un refresco de 500ml.</p>
														<div class="d-flex flex-row justify-content-end">
																<p><a class="btn btn-secondary" href="#" role="button">Ordenar</a></p>
														</div>
												</div>

										</div>
								</div>

								<div class="col-lg-4 col-md-6 col-12 mb-sm-4">

										<div class="card menu-item text-center border-0 w-75 mx-auto" style="height: 33.3rem">

												<picture>
														<source srcset="/img/menu/iloveimg-resized/Combo 3.avif" type="image/avif"/>
														<source srcset="/img/menu/iloveimg-resized/Combo 3.webp" type="image/webp"/>
														<img class="card-img-top img-fluid mt-5 object-fit-cover mb-1" loading="lazy" width="200"
														     height="300" src="/img/menu/iloveimg-resized/Combo 3.png" alt="logo"/>
												</picture>

												<div class="card-body mt-5">
														<p class="precio">190.00 Lps</p>
														<h4>Combo 3</h4>

														<picture>
																<source srcset="/img/menu/fondo.avif" type="image/avif"/>
																<source srcset="/img/menu/fondo.webp" type="image/webp"/>
																<img class="mx-auto mb-4" src="/img/menu/fondo.png" alt="" width="200">
														</picture>

														<p class="card-text mb-4">Jugosa pechuga de pollo empanizada, salsas
																artesanales, cebolla, tomate y lechuga.</p>
														<div class="d-flex flex-row justify-content-end">
																<p><a class="btn btn-secondary" href="#" role="button">Ordenar</a></p>
														</div>
												</div>

										</div>
								</div>
						</div>
				</div>
		</div>
</section>


<!-- 
<div class="row ms-5 me-5">

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top object-fit-contain" src="/menu-img/Combo 4.png" alt="Croissant" width="600"
                 height="400">
            <div class="card-body">
                <h1 class="card-title bg-white">Combo Economico</h1>
                <p class="card-text text-hero-regular">5 tortas de tu preferencia, alitas, papas y un refresco 3L.</p>
                <p class="card-text precio">L. 250.00</p>
                <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top object-fit-contain" src="/menu-img/Combo 4.png" alt="Croissant" width="600"
                 height="400">
            <div class="card-body">
                <h1 class="card-title bg-white">Combo</h1>
                <p class="card-text text-hero-regular">5 tortas de tu preferencia, alitas, papas y un refresco 3L.</p>
                <p class="card-text precio">L. 150.00</p>
                <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top object-fit-contain" src="/menu-img/Combo 4.png" alt="Croissant" width="600"
                 height="400">
            <div class="card-body">
                <h1 class="card-title bg-white">Super</h1>
                <p class="card-text text-hero-regular">5 tortas de tu preferencia, alitas, papas y un refresco 3L.</p>
                <p class="card-text precio">L. 150.00</p>
                <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top object-fit-contain" src="/menu-img/Combo 4.png" alt="Croissant" width="600"
                 height="400">
            <div class="card-body">
                <h1 class="card-title bg-white">Super Combo</h1>
                <p class="card-text text-hero-regular">5 tortas de tu preferencia, alitas, papas y un refresco 3L.</p>
                <p class="card-text precio">L. 350.00</p>
                <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
        </div>
    </div>

</div>
 -->
