<div class="row ms-5 me-5">

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top object-fit-contain" src="/menu-img/Combo 4.png" alt="Croissant" width="600"
                 height="400">
            <div class="card-body">
                <h1 class="card-title bg-white">Combo Economico</h1>
                <p class="card-text text-hero-regular">5 tortas de tu preferencia, alitas, papas y un refresco 3L.</p>
                <p class="card-text precio">L. 250.00</p>
                <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top object-fit-contain" src="/menu-img/Combo 4.png" alt="Croissant" width="600"
                 height="400">
            <div class="card-body">
                <h1 class="card-title bg-white">Combo</h1>
                <p class="card-text text-hero-regular">5 tortas de tu preferencia, alitas, papas y un refresco 3L.</p>
                <p class="card-text precio">L. 150.00</p>
                <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top object-fit-contain" src="/menu-img/Combo 4.png" alt="Croissant" width="600"
                 height="400">
            <div class="card-body">
                <h1 class="card-title bg-white">Super</h1>
                <p class="card-text text-hero-regular">5 tortas de tu preferencia, alitas, papas y un refresco 3L.</p>
                <p class="card-text precio">L. 150.00</p>
                <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top object-fit-contain" src="/menu-img/Combo 4.png" alt="Croissant" width="600"
                 height="400">
            <div class="card-body">
                <h1 class="card-title bg-white">Super Combo</h1>
                <p class="card-text text-hero-regular">5 tortas de tu preferencia, alitas, papas y un refresco 3L.</p>
                <p class="card-text precio">L. 350.00</p>
                <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
        </div>
    </div>

</div>
<!-- END: promociones.hbs -->
