<!-- 2 Section -->

<section class="hero section2-container pt-5 d-flex " data-aos="fade-up" data-aos-duration="3000">
    <div class="d-flex container">

        <div class="row">
            <div class="col-md-6">
                <div class="d-flex text-container align-items-center mx-auto">
                    <div class="text-section-bold">
                        Maske
                        <hr>
                        <span style="margin-left: 80px; color: white">Burguer</span>
                        <hr>
                        <span>de res</span>
                    </div>
                </div>
                
                <div class="btn-ordenar-section2">
                    <a href="#ordenar" class="btn btn-primary btn-section2 shadow-none px-5">Ordenar Ahora</a>
                </div>

            </div>

            <div class="img-section2 col-md-6 aos-init  aos-animate" data-aos="fade-up" data-aos-duration="3000">
                <div style="transform: rotate(-10deg);">
                    <span>90.00</span>
                    <span style="color:white;">Lps.</span>
                </div>
                <img class="img-fluid" src="/img/maske-transformed.png" class="w-100" alt="hamburguer-img">
            </div>
        </div>
    </div>


</section>