<!-- 2 Section -->
<section class="container-fluid" data-aos="fade-up" data-aos-duration="3000"
         style="background-color: #1DAE12">
    
    <div class="row">
        <div class="col-md-6 container-description">
            <div class="d-flex text-container align-items-center mx-auto">
                <div class="text-section-bold">
                    Maske
                    <hr>
                    <span style="margin-left: 80px; color: white">Burguer</span>
                    <hr>
                    <span>de res</span>
                </div>
            </div>

            <a href="">
                <button type="button" class="btn btn-primary btn-ordenar-section2">Ordenar Ahora</button>
            </a>

        </div>

        <div class="col-md-6">
            <div class="img-section2 aos-init aos-animate" data-aos="fade-up" data-aos-duration="3000">
                <div style="transform: rotate(-10deg);">
                    <span>90.00</span>
                    <span style="color:white;">Lps.</span>
                </div>
                <img class="img-fluid w-100" src="/img/maske-transformed.png" alt="hamburguer-img">
            </div>
        </div>
    </div>

</section>


    <!--shape divider 
    <div class="custom-shape-divider-bottom-1702507708">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    -->
</section>



