section {
  .container-rate {

    h1 {
      font-family: Katibeh , sans-serif;
      font-size: @header-2;
      font-weight: bold;
    }

    hr {
      opacity: 10%;
    }

    h4 {
      .text-hero-bold();
      font-size: 28px;
      font-family: 'Katibeh', serif;
      line-height: normal;
      font-style: italic;
      font-weight: normal;
    }
  }
}

@media (min-width: 768px) {
  section{
    .container-rate{

      h1{
        font-size: @header-1;
        font-weight: normal;
      }
    }
  }
}

