//shape divider css

section {
  position: relative;
  .row {

    .container-description {

      .text-container {
        
        .text-section-bold {
          .text-hero-bold();
          color: white;
          font-size: @header-1;
          font-style: italic;
          font-family: 'Kaushan Script', cursive;
          

          hr {
            border: 0;
          }

          span {
            color: #ba1e14;
            margin-right: 20px;
            font-family: 'Kaushan Script', cursive;
          }
        }
      }

      a {
        border: none;
        text-decoration: none;
      }

      .btn-ordenar-section2 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-family: Poppins,"sans-serif";

      }

      .btn-ordenar-section2:hover {
        background-color: @third-color;
      }
    }

    .img-section2 {
      span {
        .text-hero-bold();
        font-size: @header-3;
        color: @primary;
        font-family: 'Kaushan Script', cursive;

      }
    }
  }
}




/** CUSTOM MEDIA QUERIES **/

//mobile version <576px
@media (max-width: 576px) {

  /* NAVBAR */
  /* Section 2 */
  section {
    .row {
      .container-description {
        order: 1;
        
        .text-section-bold{
          margin: 0 auto;
        }
        
        .btn-ordenar-section2 {
          width: 100%;
          margin: 50px 0;
          font-size: 18px;
          font-weight: bold;
        }
      }
      
      .text-container{
        margin-top: 28px;
      }
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  /* HERO */
  /* Section 2 */
  section {
    .row {
      .container-description {
        order: 1;

        .text-section-bold{
          margin: 0 auto;
          margin-top: 24px;
        }


        .btn-ordenar-section2 {
          margin: 50px 0;
          font-size: 19px;
        }
      }
    }
  }
}

// Large devices (desktops, 1200px and up)
@media (min-width: 992px) {
  .row {
    .container-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .text-container{
        width: 100%;
        height: 50%;
        justify-content: center;
      }
      .btn-ordenar-section2 {
      }
    }
  }
}






