@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('/less/hero.less');
@import url('/less/section2.less');
@import url('/less/galeria.less');
@import url('/less/categorias.less');
@import url('/less/rate.less');
@import url('/less/faqs.less');
@import url('/less/menu.less');
@import url('/less/contactanos.less');
@import url('/less/acercaDe.less');


//color styles
@primary: #fac005;
@secondary-color: #1dae12;
@third-color: #ba1e14;
@dark-black: #22201a;
@gray-1: #798092;
@black: #000;

/* Font Size Desktop */
@header-1: 68px;
@header-2: 48px;
@header-3: 42px;
@header-4: 32px;

@text-medium: 18px;
@text-regular: 16px;
@text-light: 13px;
@text-large: 25px;

/* Font Weight */
@font-weight-bold: 700;
@font-weight-semi-bold: 600;
@font-weight-medium: 500;
@font-weight-regular: 400;
@font-weight-light: 300;


text-hero-bold {
  font-weight: @font-weight-bold;
  font-size: @header-3;
  line-height: 64px;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


/* BUTTON PRIMARY */


.btn {
  padding: 15px 25px;
  border-radius: 6px;
  font-size: @text-medium;
  font-weight: @font-weight-medium;
  border: none;


}

.btn-primary {
  background-color: @primary;
  margin-right: 6rem;
}

.btn-primary:focus {
  background-color: @secondary-color;
}

.btn-primary:hover {
  background-color: @secondary-color;
}

.btn-section2:hover {
  background-color: @third-color;
}


/* NAVBAR */

.container {
  display: flex;

  .navbar-brand {
    .logo {
      padding: 5px;
      width: 110px;
      height: 90px;

    }
  }
}

.navbar {
  padding: 30px 0;
}

a.nav-link {
  margin-right: 5rem;
  font-size: @text-large;
  font-weight: @font-weight-regular;
  color: @dark-black !important;
  font-family: 'Katibeh', serif;
}

.nav-link {
  color: #ba1e14;
  position: relative;
  text-decoration: none;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ba1e14;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* DESKTOP VERSION ONLY */

@media (min-width: 1400px) {

  .container {
  }

  /*
  body{
      background-color: blue ;
  }
*/

}

/* DESKTOP VERSION ONLY */


